/* assets/styles.css */
body {
    background-color: black;
    color: #E0E0E0;
}

h1, h2, h3, h4, h5, h6 {
    color: #FF9900; /* Orange for headings */
}

.sidebar .sidebar-content {
    background-color: #333333; /* Dark sidebar */
    color: #FF9900; /* Orange sidebar text */
}

.stButton>button {
    background-color: #FFCC00; /* Yellow buttons */
    color: black;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.stButton>button:hover {
    background-color: black;
    color: #FF9900; /* Orange hover text */
    border: 2px solid #FFCC00; /* Yellow border */
}

/* Reduce padding at the top of the main page */
.main .block-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
